Repository voltgizerz/POS-restaurant, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, cmd, config, docs, internal, pkg, mocks, changelog, migration

Update README.md
  README.md
Labels: root, docs

Add jwt auth middleware and refactor code
  .gitignore
  air.toml
  cmd/main.go
  database/database.go
  database/migrations/20240622125106_add_users_table.sql
  internal/app/api/auth/auth.go
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/request.go
  internal/app/api/handler/response.go
  internal/app/api/handler/user_handler.go
  internal/app/api/middleware/jwt_auth.go
  internal/app/api/router.go
  internal/app/api/server.go
  internal/app/auth/jwt.go
  internal/app/constants/context.go
  internal/app/interactor/interactor.go
  internal/app/mocks/mocks_auth.go
  internal/app/mocks/mocks_user.go
  internal/app/ports/auth_ports.go
  internal/app/ports/user_ports.go
  internal/app/repository/user_repository.go
  internal/app/service/user_service.go
  internal/app/service/user_service_test.go
  internal/utils/crypto.go
Labels: root, cmd, internal, mocks, migration

Fix unit test
  .gitignore
  Makefile
  docs/api/thunder-collection_POS Restaurant Go API .json
  internal/app/api/middleware/jwt_auth_test.go
  internal/app/auth/jwt_test.go
  internal/app/service/user_service_test.go
Labels: root, docs, internal

Fix query
  internal/app/repository/user_repository.go
Labels: internal

Refactor
  internal/app/ports/auth_ports.go
  internal/app/ports/user_ports.go
Labels: internal

changed unit test and revision
  database/migrations/00001_food_menu_table.sql
  database/migrations/20240622125106_add_users_table.sql
  internal/app/api/handler/menu_handler.go
  internal/app/api/handler/menu_request.go
  internal/app/api/router.go
  internal/app/entity/menu_entity.go
  internal/app/ports/menu_ports.go
  internal/app/repository/menu_repository.go
  internal/app/service/menu_service.go
  internal/app/service/user_service_test.go
Labels: internal, migration

fix minor bug
  database/migrations/00001_food_menus_table.sql
  docs/api/insomnia-collection_POS Restaurant Go Api.json
  internal/app/api/handler/menu_handler.go
  internal/app/api/router.go
  internal/app/repository/menu_repository.go
Labels: docs, internal, migration

Refactor some code and unit test
  Makefile
  go.mod
  go.sum
  internal/app/api/handler/auth_handler_test.go
  internal/app/api/handler/auth_request.go
  internal/app/api/handler/user_handler_test.go
  internal/app/entity/menu_entity.go
  internal/app/ports/menu_ports.go
  internal/app/repository/menu_repository.go
  internal/app/service/menu_service.go
  internal/app/service/user_service_test.go
Labels: root, internal

Update workflow revive
  .github/workflows/code-checker.yml
Labels: workflows

Update README.md
  README.md
Labels: root, docs

Increase test coverage
  database/database.go
  database/database_test.go
  go.mod
  go.sum
  internal/app/api/init_test.go
  internal/app/api/router_test.go
  internal/app/api/server_test.go
  internal/app/mocks/mocks_auth.go
Labels: root, internal, mocks

Refactor router and context handler
  docs/api/Insomnia_2024-06-25.json
  docs/api/insomnia-collection_POS Restaurant Go Api.json
  docs/api/thunder-collection_POS Restaurant Go API .json
  go.mod
  go.sum
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_request.go
  internal/app/api/handler/menu_handler.go
  internal/app/api/handler/response.go
  internal/app/api/middleware/initialization.go
  internal/app/api/middleware/jwt_auth.go
  internal/app/api/router.go
  internal/app/auth/auth.go
  internal/app/constants/context.go
Labels: root, docs, internal

Tidy up
  go.mod
Labels: root

Update air config and menu handler
  .air.toml
  LICENSE.md
  internal/app/api/handler/menu_handler.go
Labels: root, internal

Fix error
  internal/app/api/handler/menu_handler.go
Labels: internal

Refactor handler validator
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_request.go
  internal/app/entity/auth_entity.go
  internal/app/entity/user_entity.go
  internal/app/repository/user_repository.go
  internal/app/service/user_service.go
  internal/app/service/user_service_test.go
  internal/utils/bcrypt.go
  internal/utils/validator.go
Labels: internal

Refactor core code for auth
  cmd/main.go
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_handler_test.go
  internal/app/api/handler/init_test.go
  internal/app/api/middleware/jwt_auth.go
  internal/app/auth/jwt.go
  internal/app/interactor/interactor.go
  internal/app/mocks/mocks_auth.go
  internal/app/mocks/mocks_user.go
  internal/app/ports/auth_ports.go
  internal/app/ports/user_ports.go
  internal/app/service/auth_service.go
  internal/app/service/auth_service_test.go
  internal/app/service/init_test.go
Labels: cmd, internal, mocks

Update mocks
  internal/app/mocks/mocks_auth.go
  internal/app/mocks/mocks_menu.go
  internal/app/mocks/mocks_user.go
  internal/app/ports/auth_ports.go
  internal/app/ports/menu_ports.go
  internal/app/ports/user_ports.go
Labels: internal, mocks

Add handler unit test
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_handler_test.go
  internal/app/service/auth_service_test.go
Labels: internal

Tidy up and gofmt
  .github/workflows/code-checker.yml
  go.mod
  internal/app/auth/auth.go
  internal/app/repository/user_repository_test.go
Labels: root, workflows, internal

Add PR size labeler
  .github/workflows/pr-size-labeler.yml
Labels: workflows

Add coderrabbit yaml
  .coderabbit.yaml
  .github/workflows/pr-size-labeler.yml
Labels: root, workflows

Update internal/app/entity/menu_entity.go
  internal/app/entity/menu_entity.go
Labels: internal

Fix rabbit review
  internal/app/repository/menu_repository.go
  internal/app/service/menu_service.go
  internal/utils/validator.go
Labels: internal

Update PR template
  docs/PULL_REQUEST_TEMPLATE.md
Labels: docs

Update workflow reviewer
  .github/reviewers.yml
Labels: workflows

Update workflows
  .github/reviewers.yml
Labels: workflows

Update workflow
  .github/reviewers.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-size-labeler.yml
Labels: workflows

Update workflow
  .github/workflows/pr-labeler.yml
Labels: workflows

Force revive action linter fix
  .github/workflows/code-checker.yml
Labels: workflows

Update CHANGELOG.md
  .github/workflows/code-checker.yml
  CHANGELOG.md
Labels: root, workflows, changelog

Update workflows
  .github/workflows/pr-labeler-size.yml
  .github/workflows/pr-labeler.yml
Labels: workflows

Update config
  config/yml/config.development.yml
Labels: config

Update PR labeler using github token
  .github/workflows/pr-labeler.yml
Labels: workflows

Update workflow using github token
  .github/workflows/pr-reviewer.yaml
Labels: workflows

Add general as default reviewer
  .github/reviewers.yml
Labels: workflows

Refactor config and increase test coverage
  README.md
  config/config.go
  config/config_test.go
  config/const.go
  internal/app/api/router.go
  internal/app/auth/auth_test.go
  internal/utils/bcrypt_test.go
  pkg/env/env.go
Labels: root, config, docs, internal, pkg

Add log info app running
  cmd/main.go
Labels: cmd

Remove coderabbit
  .coderabbit.yaml
Labels: root

Refactor repo using transaction
  internal/app/ports/menu_ports.go
  internal/app/repository/menu_repository.go
  internal/app/service/menu_service.go
Labels: internal

.github/labeler.yml:

# Add 'repo' label to any root file changes
root:
- '*'

workflows:
- .github/**/*

cmd:
- cmd/**/*

config:
- config/**/*

docs:
- docs/**/*
- README.md

internal:
- internal/**/*

pkg:
- pkg/**/*

mocks:
- internal/app/mocks/*

changelog:
- CHANGELOG.md

migration:
- database/migrations/*
