Repository voltgizerz/POS-restaurant, pull requests merged in 2024-06, with the labels that each got.

#1 Init database
  cmd/main.go
  database/database.go
  go.mod
  go.sum
  internal/app/interfaces/user.interface.go
  internal/app/repository/init.go
  internal/app/repository/user.go
Labels: root, cmd, internal

#2 Add api router and refactor
  .github/workflows/code-checker.yml
  cmd/main.go
  config/config.go
  config/yml/config.development.yml
  database/database.go
  go.mod
  go.sum
  internal/app/api/server.go
  pkg/logger/logger_test.go
Labels: root, cmd, internal, pkg, workflows, config

#3 Add user routes and refactor
  cmd/main.go
  internal/app/api/handler/handler.go
  internal/app/api/router.go
  internal/app/api/server.go
  internal/app/interactor/interactor.go
  internal/app/ports/auth_ports.go
  internal/app/ports/user_ports.go
  internal/app/repository/user.go
  internal/app/service/auth_service.go
  internal/app/service/user_service.go
  pkg/env/env.go
  pkg/logger/logger.go
Labels: cmd, internal, pkg

#5 Update login Handler and Refactor code
  .env.example
  cmd/main.go
  config/config.go
  database/database.go
  database/dump/dump-db_pos-202406091310.sql
  go.mod
  go.sum
  internal/app/api/auth/auth.go
  internal/app/api/handler/handler.go
  internal/app/api/handler/request.go
  internal/app/api/handler/response.go
  internal/app/api/handler/user_handler.go
  internal/app/api/server.go
  internal/app/entity/user.entity.go
  internal/app/interactor/interactor.go
  internal/app/ports/auth_ports.go
  internal/app/ports/user_ports.go
  internal/app/repository/user.go
  internal/app/repository/user_repository.go
  internal/app/service/auth_service.go
  internal/app/service/user_service.go
  internal/utils/crypto.go
Labels: root, cmd, internal, config

#6 Refactor and add db pool
  config/config.go
  config/yml/config.development.yml
  database/database.go
  internal/app/api/auth/auth.go
  internal/app/api/handler/response.go
  internal/app/api/handler/user_handler.go
  internal/app/constants/errors.go
  internal/app/entity/auth_entity.go
  internal/app/entity/user_entity.go
  internal/app/ports/auth_ports.go
Labels: internal, config

#7 Refactor code
  cmd/main.go
  database/database.go
  internal/app/api/auth/auth.go
  internal/app/api/handler/user_handler.go
  internal/app/api/server.go
  internal/app/entity/auth_entity.go
  internal/app/interactor/interactor.go
  internal/app/ports/auth_ports.go
  internal/app/ports/user_ports.go
  internal/app/service/user_service.go
Labels: cmd, internal

#9 Develop
  .github/workflows/codeql.yml
Labels: workflows

#10 Register Function
  cmd/user_test.go
  database/dump/dump-db_pos-202406091310.sql
  internal/app/api/handler/request.go
  internal/app/api/handler/user_handler.go
  internal/app/entity/user_entity.go
  internal/app/ports/user_ports.go
  internal/app/repository/init.go
  internal/app/repository/user_repository.go
  internal/app/repository/user_repository_test.go
  internal/app/service/user_service.go
Labels: cmd, internal

#12 Develop
  .github/workflows/codeql.yml
  cmd/user_test.go
  database/dump/dump-db_pos-202406091310.sql
  internal/app/api/handler/request.go
  internal/app/api/handler/user_handler.go
  internal/app/entity/user_entity.go
  internal/app/ports/user_ports.go
  internal/app/repository/init.go
  internal/app/repository/user_repository.go
  internal/app/repository/user_repository_test.go
  internal/app/service/user_service.go
Labels: cmd, internal, workflows

#14 Update workflows
  .github/workflows/codeql.yml
Labels: workflows

#17 Add unit test login service and refactor code
  .github/workflows/code-checker.yml
  .github/workflows/codeql-analysis.yml
  Makefile
  go.mod
  go.sum
  internal/app/mocks/mocks_auth.go
  internal/app/mocks/mocks_user.go
  internal/app/service/init_test.go
  internal/app/service/user_service_test.go
Labels: root, internal, workflows, mocks

#20 Felix db migrations and unit test repo
  Makefile
  database/dump/dump-db_pos-202406091310.sql
  database/migrations/20240622125106_add_users_table.sql
  go.mod
  go.sum
  internal/app/api/handler/init_test.go
  internal/app/api/handler/request.go
  internal/app/api/handler/user_handler.go
  internal/app/api/handler/user_handler_test.go
  internal/app/repository/user_repository_test.go
Labels: root, internal

#21 Develop
  .github/labeler.yml
  Makefile
  database/dump/dump-db_pos-202406091310.sql
  database/migrations/20240622125106_add_users_table.sql
  go.mod
  go.sum
  internal/app/api/handler/init_test.go
  internal/app/api/handler/request.go
  internal/app/api/handler/user_handler.go
  internal/app/api/handler/user_handler_test.go
  internal/app/repository/user_repository_test.go
Labels: root, internal, workflows

#19 Adding New Route and Function For Menu With Register Unit Test
  cmd/main.go
  cmd/user_test.go
  database/migrations/00001_food_menus_table.sql
  database/migrations/20240622125106_add_users_table.sql
  docs/api/insomnia-collection_POS Restaurant Go Api.json
  go.mod
  go.sum
  internal/app/api/handler/menu_handler.go
  internal/app/api/handler/menu_request.go
  internal/app/api/router.go
  internal/app/api/server.go
  internal/app/constants/errors.go
  internal/app/entity/menu_entity.go
  internal/app/entity/user_entity.go
  internal/app/interactor/interactor.go
  internal/app/ports/menu_ports.go
  internal/app/repository/menu_repository.go
  internal/app/service/menu_service.go
  internal/app/service/menu_service_test.go
  internal/app/service/user_service_test.go
Labels: root, cmd, internal, docs, migration

#26 Felix 11 improvement refactor code core
  .github/workflows/code-checker.yml
  Makefile
  README.md
  go.mod
  go.sum
  internal/app/api/handler/auth_handler_test.go
  internal/app/api/handler/auth_request.go
  internal/app/api/handler/user_handler_test.go
  internal/app/entity/menu_entity.go
  internal/app/ports/menu_ports.go
  internal/app/repository/menu_repository.go
  internal/app/service/menu_service.go
  internal/app/service/user_service_test.go
Labels: root, internal, workflows, docs

#28 Refactor router and context handler
  .air.toml
  LICENSE.md
  docs/api/Insomnia_2024-06-25.json
  docs/api/insomnia-collection_POS Restaurant Go Api.json
  docs/api/thunder-collection_POS Restaurant Go API .json
  go.mod
  go.sum
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_request.go
  internal/app/api/handler/menu_handler.go
  internal/app/api/handler/response.go
  internal/app/api/middleware/initialization.go
  internal/app/api/middleware/jwt_auth.go
  internal/app/api/router.go
  internal/app/auth/auth.go
  internal/app/constants/context.go
Labels: root, internal, docs

#29 Felix 11 Refactor handler validator
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_request.go
  internal/app/entity/auth_entity.go
  internal/app/entity/user_entity.go
  internal/app/repository/user_repository.go
  internal/app/service/user_service.go
  internal/app/service/user_service_test.go
  internal/utils/bcrypt.go
  internal/utils/validator.go
Labels: internal

#30 Refactor core code for auth
  cmd/main.go
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_handler_test.go
  internal/app/api/handler/init_test.go
  internal/app/api/middleware/jwt_auth.go
  internal/app/auth/jwt.go
  internal/app/interactor/interactor.go
  internal/app/mocks/mocks_auth.go
  internal/app/mocks/mocks_menu.go
  internal/app/mocks/mocks_user.go
  internal/app/ports/auth_ports.go
  internal/app/ports/menu_ports.go
  internal/app/ports/user_ports.go
  internal/app/service/auth_service.go
  internal/app/service/auth_service_test.go
  internal/app/service/init_test.go
Labels: cmd, internal, mocks

#31 Felix 11 Add handler unit test
  .coderabbit.yaml
  .github/workflows/code-checker.yml
  .github/workflows/pr-size-labeler.yml
  go.mod
  internal/app/api/handler/auth_handler.go
  internal/app/api/handler/auth_handler_test.go
  internal/app/auth/auth.go
  internal/app/repository/user_repository_test.go
  internal/app/service/auth_service_test.go
Labels: root, internal, workflows, size/m

#33 Felix 11 Update PR template
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-size-labeler.yml
  docs/PULL_REQUEST_TEMPLATE.md
Labels: workflows, docs, size/s

#34 Felix 11 Force revive action linter fix
  .github/workflows/code-checker.yml
  .github/workflows/pr-labeler-size.yml
  .github/workflows/pr-labeler.yml
  CHANGELOG.md
Labels: root, workflows, changelog

#35 Felix 11 Update config
  .github/workflows/pr-labeler.yml
  config/yml/config.development.yml
Labels: workflows, config, size/xs

#36 Felix 11 Update workflow using github token
  .github/reviewers.yml
  .github/workflows/pr-reviewer.yaml
Labels: workflows, size/xs

#37 Felix 11 Refactor config and increase test coverage
  README.md
  config/config.go
  config/config_test.go
  config/const.go
  internal/app/api/router.go
  internal/app/auth/auth_test.go
  internal/utils/bcrypt_test.go
  pkg/env/env.go
Labels: root, internal, pkg, config, docs, size/m
